.btn {
  border: 0px;
  font-size: 0.8rem;
  border-radius: 10px;
  outline: none;
  margin-top: 6px;
  padding: 6px 15px;
}

.ingsButton {
  background-color: transparent;
  padding: 4px;
  color: black;
  margin: 0px 1px;
}

.SuccessBtn {
  background-color: rgb(184, 62, 48);
  margin-left: 0px;
}

.DangerBtn {
  background-color: black;
  margin-right: 0px;
  color: wheat;
}

.SuccessBtn:hover {
  background-color: salmon;
  color: black;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.71);
}

.DangerBtn:hover {
  background-color: rgb(68, 52, 52);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.71);
}

.SuccessBtn:hover,
.DangerBtn:hover {
  cursor: pointer;
}

.EditBtn,
.EditPhoto {
  background-color: #4a3933;
}

.EditBtn:hover,
.EditPhoto:hover {
  background-color: #81655b;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.71);
}

.disableClass,
.disableClass:hover {
  background-color: grey;
  color: white;
  box-shadow: none;
  cursor: not-allowed;
}
