/*STYLE FOR IMAGE CONTENT*/
.imageContent {
  height: 250px;
  width: 250px;
  border-radius: 10px;
}

/*STYLE FOR NO PRODUCTS TITLE*/
.noProductsTitle {
  font-family: "Railway", sans-serif;
  font-weight: lighter;
  text-align: center;
  margin: 0px auto;
  margin-top: 100px;
  color: saddlebrown;
}

/*STYLE FOR THE ERROR, NO CART ITEMS, NO ORDERS TITLE*/
.emptyValueTitleStyle {
  width: 80%;
  padding: 10px 4px;
  border-radius: 10px;
  background-color: wheat;
  text-align: center;
  margin: 0px auto;
  margin-top: 30px;
  font: 1.7rem;
  color: saddlebrown;
  font-family: "Raleway", sans-serif;
}

/*STYLE FOR THE PRODUCTS SECTION*/
.productsSection {
  display: flex;
  flex-direction: column;
}

/*STYLE FOR THE FORM SECTION*/
.FormSection {
  text-align: center;
  background-color: #e48257;
  padding: 10px 0px;
  border-radius: 10px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  width: 95%;
  margin: auto;
  margin-top: 30px;
  max-width: 600px;
  font-size: 2.4rem;
}

/*STYLE FOR THE PRODUCTS TITLE*/
.FormTitle {
  margin: 0px;
  color: #4a3933;
  font-weight: 400;
  padding-bottom: 10px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  border-bottom: 3px solid white;
}

@media (min-width: 1037px) {
  .FormTitle {
    font-size: 2rem;
  }

  .emptyValueTitleStyle {
    width: 40%;
  }
}

@media (min-width: 745px) and (orientation: landscape) {
  .FormSection {
    font-size: 1.4rem;
  }
  .productsSection {
    flex-direction: row;
    flex: content;
  }
}
